/* Corpo do documento */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #488C03;
    color: #fff;
    padding: 1rem 0;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
}

/* Seção Hero */
.hero {
    background-color: #13DCF2;
    padding: 4rem 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero button {
    background-color: #F2A341;
    color: #000000;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Seção de Serviços */
.services {
    background-color: #fd7ead;
    padding: 2rem 0;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.service {
    background-color:#18c7f39c ;
    border: 1px solid #818179;
    border-radius: 5px;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-sizing: border-box;
    text-align: center;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.service button {
    background-color: #cf801e;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* Seção de Depoimentos */
.testimonials {
    background-color: #f4f4f4;
    padding: 4rem 0;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.testimonial {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    width: calc(33.333% - 2rem);
    box-sizing: border-box;
    text-align: center;
}

.testimonial img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.rating {
    color: #FFD700;
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    background-color: #488C03;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-col {
    margin-bottom: 1rem;
    width: calc(25% - 2rem);
    box-sizing: border-box;
}

.footer-col h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin-bottom: 0.5rem;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    font-size: 0.8rem;
    margin-top: 1rem;
}
